@keyframes zoom-in {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  .zoom-in {
    animation: zoom-in 0.5s ease;
    transform-origin: center center;
  }
  .custom-height {
    height: 300px; /* Adjust the height as needed */
  }
  

  .image-name-overlay:hover {
    opacity: 1;
  }
  